*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{

	background-image:  linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(Image/profail.jpg);
	background-size: cover;
	background-position: center;
	
	font-family: sans-serif;
	overflow-x: hidden;
}

}

#shopping-cart {
	margin: 50px;

}

#product-grid {
	margin-top: 2%;
	width: 98%;
	margin-left: 3%;
	margin-right: 1%;

}
#product-grid form{
	background-color: rgba(0,0,0,0.2);
	border: 0px;

}
#product-grid .product-item{
	height: 170px;
	width: 240px;
	background-color:rgba(0,0,0,0.2);

}

#shopping-cart table {
	width: 98%;
	background-color: rgba(0,0,0,0.2);
	margin-top: 3%;
	margin-left: 1%;
	margin-right: -1%; 
}

#shopping-cart table td {
	background-color: rgba(0,0,0,0.2);
}

.txt-heading {
	color: #FFFFE0;
	border-bottom: 3px solid #FFFFE0;
	overflow: auto;
	font-size: 20px;
	
}
#shopping-cart .txt-heading {
	width: 99%;
margin-left: 0.5%}

#btnEmpty {
	background-color: #D2691E;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.cart-action .btnAddAction {
    padding: 5px 10px;
    margin-left:-50%;
    background-color: #D2691E;
    border: #E0E0E0 1px solid;
    color: #D3D3D3;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 28px;

}

 .product-item {
	float: left;
	background-color: rgba(0,0,0,0.2);
	margin: 30px 0px 100px 0px;
	border: #C0C0C0 0px solid;
	margin-left: 1%;
}

.product-image {
	height: 155px;
	width: 240px;
	background-color: rgba(0,0,0,0.2);
}
.product-image img {
	height: 170px;
	width: 240px;
	background-color:rgba(0,0,0,0.2);
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 0px solid;
	padding: 0px 0px;
}

.tbl-cart {
	font-size: 1em;
	color: #FFFFEF;

}

.tbl-cart th {
	font-weight: normal;
	
}
.tbl-cart td {
	font-weight: normal;
	
}

.product-title {
	margin-bottom: 20px;
	color: #FFFFE0;
}

.product-price {
	float:left;
	color: #FFFFE0;
}

.cart-action {
	float: right;
}

.product-quantity {
    padding: 5px 5px;
    border: #C0C0C0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}
	
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}

.no-records h {
	font-size: 15px;
	color: 	#C0C0C0;

	
}
 .tbl-cart .but
 {
 	background-color: #D2691E;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
 }