*
a {
color: blue;
}
a.whitewine {
color: #FFBB00;
}
a.redwine {
color: #800000;
}
#c1-2 {
color: #2F4F4F;
}
#c1 {
color: #000000;
}
#c2 {
color:#000000;
}
#c2-1 {
color: #2F4F4F;
}
#c2-1-2 {
color: #708090;
}
